.conference {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 700;
  color: var(--lightest);
  font-size: 36px;
}

.date {
  color: var(--gray);
  font-size: 20px;
}

@media (max-width: 420px) {
  .conference {
    gap: 10px;
  }

  .info {
    gap: 10px;
  }

  .title {
    font-size: 28px;
  }
}

.date {
  color: var(--gray);
  font-size: 14px;
}
