.form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 35%;
  align-self: center;
  overflow: hidden;
  padding: 4px;
}

.decor {
  position: absolute;
  top: 43%;
  left: 65%;
  content: url("./public/images/pattern-circle.svg");
  z-index: -100;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;

  background-color: var(--orange-light);
  border-radius: 8px;

  border: 1px solid var(--orange-light);

  color: var(--darkest);
  font-weight: 700;

  outline-offset: 2px;

  transition: all 0.3s ease-in;
}

.btn:hover {
  background-color: var(--orange-dark);
  border: 1px solid var(--orange-dark);
}

@media (max-width: 1280px) {
  .form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .form {
    width: 80%;
  }

  .decor {
    top: 55%;
    left: 45%;
  }
}

@media (max-width: 475px) {
  .form {
    width: 100%;
  }

  .decor {
    display: none;
  }
}
