.form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 35%;
  align-self: center;
}

.form::after {
  position: absolute;
  top: 43%;
  left: 65%;
  content: url("./public/images/pattern-circle.svg");
  z-index: 100;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;

  background-color: var(--orange-light);
  border-radius: 8px;

  border: 1px solid var(--orange-light);

  color: var(--darkest);
  font-weight: 700;

  outline-offset: 2px;

  transition: all 0.3s ease-in;
}

.btn:hover {
  background-color: var(--orange-dark);
  border: 1px solid var(--orange-dark);
}
