.group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description {
  color: var(--lightest);
  font-weight: 500;
  margin: 0;

  cursor: pointer;
}

.input {
  background-color: var(--darkest);
  border: 1px solid var(--gray);
  border-radius: 8px;
  height: 30px;
  padding: 20px 10px;

  color: var(--lightest);
  font-size: 18px;

  transition: all 0.3s ease-in;
}

.input::placeholder {
  font-size: 16px;
}

.input:focus {
  outline: 2px solid var(--lightest);
  outline-offset: 2px;
}

.input:hover {
  background-color: var(--darker);
}

.error {
  display: flex;
  gap: 10px;
  align-items: center;
}

.errorText {
  font-size: 12px;
  color: var(--orange-dark);
  font-weight: 400;

  cursor: auto;
}
